@use '../../styles/colors.module.scss' as *;

.container{ 
    margin: 2% 17%;
	align-items: center;
	justify-content: center;
}

.container_filters{
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.container_filters{
		display: block;
		text-align: center;
	}
}