@use '../../styles/colors.module.scss'as *;

.sort {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
    select.customSelect {
      padding: 10px;
      font-size: 16px;
      color: $color__gray--2;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      border: none;
      border-radius: 4px;
      background-color: transparent;
      width: 200px;
      outline: none;
      transition: border-color 0.3s;
      cursor: pointer;
    }

    select.customSelect option {
      padding: 10px;
      font-size: 14px;
      background-color: transparent;
      color: $color__gray--3;
      transition: background-color 0.3s;
      cursor: pointer;
    }

    select.customSelect option:checked {
      border-left: $color__blue--1;
      color: $color__gray--1;
    }
}

  @media screen and (max-width: 320px) {
    
    .sort {
    display: block;
      p{
        display: none;
      }
    }
  }
  @media screen and (max-width: 422px) {
    .sort {
      display: block;
        p{
          display: none;
        }
      }

  }

