@use '../../styles/colors.module.scss' as *;

.listContainer{
    background-color: #fff;
    width: 100%;
    border-radius: 0.5rem;
    padding-top: 1px;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 2em;
  }

.button_pagination {
    background-color: $color__blue--1; 
    color: #fff; 
    border: none; 
    padding: 5px 10px; 
    margin: 5px; 
    cursor: pointer; 
    border-radius: 50px; 
  }
  
  .button_pagination:hover {
    background-color: $color__blue--2; 
  }

  .button_pagination.selected {
    background-color: $color__blue--2;
  }